<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shashank.platform.destar">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.destar.platform.destar.AppClass"
        android:allowBackup="true"
        android:icon="@drawable/logo_destar"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_destar"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name="com.destar.platform.destar.service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.destar.platform.destar.service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.destar.platform.destar.service.MyLocationService"
            android:process=":mylocation_service">
            <intent-filter>
                <action android:name="LOKASI" />
            </intent-filter>
        </service>
        <activity
            android:name="com.destar.platform.destar.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.destar.platform.destar.TampilanAwalActivity"/>
        <activity android:name="com.destar.platform.destar.LoginActivity" />
        <activity android:name="com.destar.platform.destar.RegisterActivity"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <activity
            android:name="com.destar.platform.destar.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name="com.destar.platform.destar.Toolbar"/>
        <activity android:name="com.destar.platform.destar.PesananActivity" />
        <activity android:name="com.destar.platform.destar.RiwayatActivity" />
        <activity android:name="com.destar.platform.destar.AkunActivity"></activity>
        <activity android:name="com.destar.platform.destar.Dashboard"></activity>
        <activity android:name="com.destar.platform.destar.TransportasiActivity"></activity>
        <activity android:name="com.destar.platform.destar.PengantarBarangActivity"></activity>
        <activity android:name="com.destar.platform.destar.NextPengantarBarang"></activity>
    </application>

</manifest>